*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: bisque;
}

.main__title{
  margin: 15px 0 30px;
  color: orange;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
}

.gallery{
  background-color: beige;
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin-bottom: 40px;
  border-radius: 15px;

}

.gallery__img{
  width: 31.33%;
  padding: 7px;
  margin: 8px;
  border: 5px solid orange;
  border-radius: 6px;
}